*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 100px;
    color: black;
}

.navbar a:hover {
    background-color: lightgray;
    color: black;
}

.Candidates {
    background-color: rgb(186, 177, 177);
    height: 200px;
    text-align: left;
    height: 120vh;
    
}

.Candidates h3{
    padding: 0 20px;
}

img{
    
    justify-content: right;
    width: 150px;
    height: 150px;
    margin: 10px;
}

a{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 10px;
}



h1 {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-align: top;
    font-family: normal;
    text-align: 100px;
}



a:link {
    text-align: right;
    color: black;
}

p {
    font-family: normal;
    font-size: 45px;
}

#What{
    text-align: center;
}



#output{
    font-size: 50px;
}

#info{
    font-size: 10px;
    padding: 20px 0;
}


/* Questionaire Styling */

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio 
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}